<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    
        <br />
    <form action="http://localhost:8080/newchat" method="GET" style="text-align: end;"><button class="allchats-btns">ADD NEW CHAT</button></form>
    <br />
    <div class="allchats-main-box">
    <% for(let chat of chats){ %>
        <div class="allchats">
            <div class="allchats-head">
                <p id="from"><%= chat.from %></p>
                <p>--------------></p>
                <p id="to"><%= chat.to %></p>
            </div>
            <div id="msg-box">
                <p id="msg">message:--->  <%= chat.msg%></p>
            </div>
            <div class="allc-btn-box">
                <form action="http://localhost:8080/chats/<%=chat._id%>" method="get">
                    <button class="allchats-btns ">More about Chat</button>
                </form>
                <form action="http://localhost:8080/updateform/<%=chat._id%>" method="get">
                    <button class="allchats-btns">Update Chat</button>
                </form>
                <form action="">
                    <button class="allchats-btns">Delete Chat </button>
                </form>
            </div>
        </div>
   <% } %>
    </div>
</body> 
</html>