<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="onechat-main-box">
        <p>DETAILED INFORMATION OF A THE CHAT </p>
        <div class="onechats">
            <div class="onechat-head">
                <p id="onechat--from"> <%= chat.from %></p>
            <p>--------></p>
            <p id="onechat-to"> <%= chat.to %></p>
            </div>
            <div id="onechat-msg-box">
                <p id="onechat-msg">message: <%= chat.msg%></p>
            </div>
            <p>Created at: <%= chat.Created_at.toString().split(" ")[4] %> , <%= chat.Created_at.toString().split(" ").slice(0,4).join(" ") %></p>
            <p>updated at: <%= chat.updated_at.toString().split(" ")[4] %> , <%= chat.updated_at.toString().split(" ").slice(0,4).join(" ") %></p>
            <div class="onec-btn-box">
                <form action="http://localhost:8080/updateform/<%=chat._id%>" method="get">
                    <button class="onechat-btns">Update Chat</button>
                </form>
                <form action="">
                    <button class="onechat-btns">Delete Chat </button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>